<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link rel="stylesheet" href="vuejs.css" type="text/css">
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
        <p>{{ func() }}</p>
        {{5+5}}
        <br>
        {{ok?"yes":"no"}}
        <p v-if="seen">see you</p>
        <a v-bind:href='url' v-bind:target='tar'>baidu</a>
        <br>
        <input type="text" v-model="message">
        <button type="button" v-on:click="reverseM">reverse</button>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                message: "vue",
                ok: true,
                seen: true,
                tar: "_self",
                url: "https://www.baidu.com"
            },
            methods: {
                reverseM: function () {
                    this.message = this.message.split("").reverse().join("");
                },
                func: function () {
                    return this.message + ":" + this.message;
                }
            }
        })
    </script>

    <div id="app2">
        {{ mes | cap }}
    </div>
    <script>
        new Vue({
            el: "#app2",
            data: {
                mes: "vue"
            },
            filters: {
                cap: function (value) {
                    if (!value)
                        return "";
                    else {
                        value = value.toString();
                        return value.charAt(0).toUpperCase() + value.slice(1);
                    }
                }
            }
        }) 
    </script>

    <div id="app3">
        <div v-if="Math.random()>0.5">
            big
        </div>
        <div v-else>
            small
        </div>
    </div>
    <script>
        new Vue({
            el: "#app3"
        })
    </script>

    <div id="app4">
        <div v-for="num in nums">
            {{num.numb}}
        </div>
    </div>
    <script>
        new Vue({
            el: "#app4",
            data: {
                nums: [
                    { numb: 1 },
                    { numb: 2 },
                    { numb: 3 }
                ]
            }
        })
    </script>

    <div id="app5">
        <div v-for="(value, key) in items">
            {{key}}:{{value}}
        </div>
    </div>
    <script>
        new Vue({
            el: "#app5",
            data: {
                items: {
                    name: "tom",
                    sex: "male",
                    age: 22
                }
            }
        })
    </script>

    <div id="app6">
        <span v-for="n in 10">
            {{n}}<span> </span>
        </span>
    </div>
    <script>
        new Vue({
            el: "#app6"
        })
    </script>

    <div id="app7">
        {{mes}}:{{rmes}}
    </div>
    <script>
        var vm = new Vue({
            el: "#app7",
            data: {
                mes: "vvuuee"
            },
            computed: {
                rmes: function () {
                    return this.mes.split("").reverse().join("");
                }
            }
        })
    </script>

    <div id="app8">
        {{site}}
    </div>
    <script>
        var vm = new Vue({
            el: "#app8",
            data: {
                name: "baidu",
                url: "www.baidu.com"
            },
            computed: {
                site: {
                    get: function () {
                        return this.name + " " + this.url;
                    },
                    set: function (value) {
                        value = value.split(" ");
                        this.name = value[0];
                        this.url = vlaue[1];
                    }
                }
            }
        })
        vm.site = "google www.google.com";
        document.write(vm.name + " " + vm.url);
    </script>

    <div id="app9">
        {{num}}
        <button type="button" @click="num++">+1S</button>
        <br>
        km: <input type="text" v-model="km">
        <br>
        m: <input type="text" v-model="m">
    </div>
    <script>
        var vm = new Vue({
            el: "#app9",
            data: {
                num: 1,
                km: 0,
                m: 0
            },
            watch: {
                km: function (num) {
                    this.km = num;
                    this.m = num * 1000;
                },
                m: function (num) {
                    this.m = num;
                    this.km = num / 1000;
                }
            },
        });
        vm.$watch("num", function (nval, oval) {
            alert(oval + "-->" + nval);
        });
    </script>

    <div id="div1">
        <div v-bind:class="{active:isActive,danger:isDanger}"></div>
    </div>
    <script>
        var vm = new Vue({
            el: "#div1",
            data: {
                isActive: true,
                isDanger: true
            }
        });
    </script>

    <div id="div2">
        <button type="button" @click="greet">hello</button>
    </div>
    <script>
        var vm = new Vue({
            el: "#div2",
            data: {
                str: "hello"
            },
            methods: {
                greet: function () {
                    return alert(this.str);
                }
            }
        });
    </script>

    <div id="div3">
        <input type="checkbox" v-model="check">
        <span>{{check}}</span>
        <br>
        <input type="checkbox" v-model="checks" value="111">
        <input type="checkbox" v-model="checks" value="222">
        <input type="checkbox" v-model="checks" value="333">
        <p>{{checks}}</p>
    </div>
    <script>
        var vm = new Vue({
            el: "#div3",
            data: {
                check: false,
                checks: []
            }
        });
    </script>

    <div id="div4">
        <select v-model="se">
            <option value="baidu.com">baidu</option>
            <option value="google.com">google</option>
        </select>
        <div>{{se}}</div>
    </div>
    <script>
        var vm = new Vue({
            el: "#div4",
            data: {
                se: ""
            }
        })  
    </script>

    <div id="div5">
        <tom></tom>
    </div>
    <script>
        Vue.component("tom", {
            template: "<h1>11111</h1>"
        });
        var vm = new Vue({
            el: "#div5"
        });
    </script>
    <div id="div6">
        <input type="text" v-model="test">
        <child v-bind:mes="test"></child>
    </div>
    <script>
        Vue.component("child", {
            props: ["mes"],
            template: "<h1>{{mes}}</h1>"
        });
        new Vue({
            el: "#div6",
            data: {
                test: "2222222"
            }
        });
    </script>

    <div id="div7">
        <p>{{total}}</p>
        <Buttonplus @plus="btP"></Buttonplus>
        <Buttonplus @plus="btP"></Buttonplus>
    </div>
    <script>
        Vue.component("Buttonplus", {
            template: "<button type='button' @click='btPP'>{{num}}</button>",
            data: function () {
                return {
                    num: 0
                };
            },
            methods: {
                btPP: function () {
                    this.num += 1;
                    this.$emit("plus");
                }
            }
        });
        new Vue({
            el: "#div7",
            data: {
                total: 0
            },
            methods: {
                btP: function () {
                    this.total += 1;
                }
            }
        });
    </script>

    <div id="div8">
        <input type="text" v-focus>
    </div>
    <script>
        Vue.directive("focus", {
            inserted: function (el) {
                el.focus();
            }
        });
        new Vue({
            el: "#div8"
        });
    </script>

    <div id="div9">
        <div v-tom="{color:'green',str:'sssssss'}"></div>
    </div>
    <script>
        Vue.directive("tom", function (el, binding) {
            el.innerHTML = binding.value.str;
            el.style.backgroundColor = binding.value.color;
        });
        new Vue({
            el: "#div9"
        });
    </script>

    <div id="ap1">
        <router-link to="/foo">foo</router-link>
        <router-link to="/bar">bar</router-link>
        <router-view></router-view>
    </div>
    <script>
        const foo = { template: "<p>foooo</p>" };
        const bar = { template: "<p>barrr</p>" };

        const routes = [
            { path: "/foo", component: foo },
            { path: "/bar", component: bar }
        ];

        const router = new VueRouter({
            routes
        });

        const ap1 = new Vue({
            router
        }).$mount("#ap1");
    </script>

    <div id="ap2">
        <button type="button" @click="show=!show">anime</button>
        <transition name="fade">
            <p v-show="show" :style="objStyle">anime</p>
        </transition>
    </div>
    <script>
        new Vue({
            el: "#ap2",
            data: {
                show: true,
                objStyle: {
                    fontSize: "20px",
                    color: "red"
                }
            }
        });
    </script>

    <div id="ap3">
        <p>3s to 0:{{num}}</p>
    </div>
    <script>
        var vm = new Vue({
            el: "#ap3",
            data: {
                num: 100
            }
        });
        setTimeout(
            function () {
                vm.num = 0;
            }, 3000
        );
    </script>

</body>

</html>